*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loading{
    background: linear-gradient(to right, rgba(21, 21, 21, 0.95), rgba(82, 32, 32, 0.24)), url("./images/flower.jpg");
    background-size: cover;
    min-height: 98vh;
    min-width: 99%;
    background-position: center;
    margin: 0;
    padding: 0;
    color:white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container{
    background: rgba(25, 24, 24, 0.95);
    color: white;
    min-height: 100vh;
    min-width: 99%;   
    display: flex;
    justify-content: center;
}

.question-container{
    display: flex;
    min-width: 75%;
    justify-content: center;
    min-height: 50%;
    flex-direction: column;
    background-color: rgb(42, 38, 38);
}

.choicesList{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 60% 60%; 
    column-gap: 10px;
    row-gap: 5px;
    height: 20%;
    width: 100%;
    font-size: 5rem;
}