*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.loading{
    background: linear-gradient(to right, rgba(21, 21, 21, 0.95), rgba(82, 32, 32, 0.24)), url("./images/flower.jpg");
    background-size: cover;
    min-height: 98vh;
    min-width: 99%;
    background-position: center;
    margin: 0;
    padding: 0;
    color:white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
